<nav>
  <div class="nav__header">
    <div class="nav__logo">
      <a href="#" class="logo">Mala Jangam Community</a>
    </div>

    <div class="nav__menu__btn" (click)="toggleMenu()">
      <i class="ri-menu-line"></i>
    </div>
  </div>

  <ul class="nav__links" [class.open]="isMenuOpen">
    <li><a (click)="scrollToSection('home')">HOME</a></li>
    <li><a (click)="scrollToSection('about')">ABOUT</a></li>
    <li><a (click)="scrollToSection('joinus')">WHY JOIN US</a></li>
    <li><a (click)="scrollToSection('ratings')">RATINGS</a></li>
    <li><a (click)="scrollToSection('contact')">CONTACT</a></li>
    <li><a (click)="redirect('explore')">Explore Members</a></li>
  </ul>

  <div class="nav__btns">
    <button class="cu_btn" (click)="redirect('explore')">
      Explore Members
    </button>
    <button class="cu_btn-secondary" style="margin-left: 15px;" (click)="redirect('login')">
      Login
    </button>
  </div>
</nav>


<header id="home">
  <div class="header__container">
    <div class="header__content">
      <h2>Welcome to the Mala Jangam Community</h2>
      <br>
      <h1>Connecting Mala Jangam's, Through Online Portal</h1>
      <div class="header__btns">
        <div class="d-flex justify-content-center flex-wrap">
          <div class="m-1">
            <button class="cu_btn" (click)="redirect('register')">Join the Community</button>
          </div>
          <div class="m-1">
            <button class="cu_btn-secondary" (click)="redirect('explore')">Explore Members</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

@if (loading) {
<div class="loader-container">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
}

<section class="section__container showcase__container" id="about">
  <div class="showcase__image">
    <img src="../../assets/showcase.jpg" alt="showcase" />
  </div>
  <div class="showcase__content">
    <h4>About the Mala Jangam Online Communtiy</h4>
    <p>
      The Jangam (or Jangama) is a Shaivite community serving as priests, gurus, and wandering monks, primarily in
      Andhra Pradesh, Telangana, and Karnataka. Known as "moving lingas" and devotees of Shiva, they traditionally
      conduct rituals for non-Brahmin Veershaiva households, play musical instruments, and sometimes practice begging
      for livelihood.
    </p>
    <div class="showcase__btn">
      <button class="cu_btn" (click)="redirect('register')">
        Join our vibrant online community.
        <span><i class="ri-arrow-right-line"></i></span>
      </button>
    </div>
  </div>
</section>

<section class="section__container discover__container" id="joinus">
  <h2 class="section__header">
    Key Aspects of the Jangam Community
  </h2>
  <p class="section__description">
    While rooted in spiritual traditions, modern economic pressures have led some members to take up other jobs,
    including street vending, in addition to their traditional priestly functions.
  </p>
  <div class="discover__grid">
    <div class="discover__card">
      <span><i class="ri-camera-lens-line"></i></span>
      <h4>Role and Philosophy</h4>
      <p>
        They are considered sacred, with their visits to homes seen as a visit by Lord Shiva. They are the custodians of
        Veerashaiva culture and often act as educators on the teachings of Basava.
      </p>
    </div>
    <div class="discover__card">
      <span><i class="ri-ship-line"></i></span>
      <h4>Lifestyle</h4>
      <p>
        Traditionally, they are nomadic, moving in small groups, or village-based priests, though many have transitioned
        to agriculture or government jobs.
      </p>
    </div>
    <div class="discover__card">
      <span><i class="ri-landscape-line"></i></span>
      <h4>Regional Variations</h4>
      <p>
        In some regions, they are referred to as Jangam Brahmins, holding a high status within the Shaiva sect.
      </p>
    </div>
    <div class="discover__card">
      <span><i class="ri-parent-fill"></i></span>
      <h4>Sub-castes</h4>
      <p>
        The Budega Jangam (or Beda Jangam) is a notable group, often associated with, and sometimes listed under,
        Scheduled Castes (SCs) in states like Karnataka.
      </p>
    </div>
    <div class="discover__card">
      <span><i class="ri-coupon-fill"></i></span>
      <h4>Cultural Practices</h4>
      <p>
        They are known for performing the Veeragase dance and using instruments like the Ganta (bell).
      </p>
    </div>
  </div>
</section>

<section class="section__container banner__container" id="ratings">
  <div class="banner__card">
    <h4>{{ usersStates?.ApprovedRegistration }}</h4>
    <p>Members Who Have Joined Us</p>
  </div>
  <div class="banner__card">
    <h4>{{ usersStates?.visitorsCount }}</h4>
    <p>Visitors Engaging Daily</p>
  </div>
  <div class="banner__card">
    <h4>{{ usersStates?.AverageRating }}</h4>
    <p>Overrall Ratings</p>
  </div>
</section>
<footer id="contact">
  <div class="section__container footer__container">
    <div class="footer__col">
      <div class="footer__logo">
        <a href="#" class="logo">Janagam Community Online</a>
      </div>
      <p>
        Connecting, Showcasing, and Strengthening the Mala Jangam Community
      </p>
      <ul class="footer__socials">
        <li>
          <a href="https://www.facebook.com/people/Malajangam/61576704044490/"><i class="ri-facebook-fill"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/madhavi.jangam/"><i class="ri-instagram-line"></i></a>
        </li>
        <li>
          <a href="https://www.youtube.com/results?search_query=mala+Jangam"><i class="ri-youtube-line"></i></a>
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Quick Links</h4>
      <ul class="footer__links">

        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a (click)="redirect('register')" style="cursor: pointer;">Join Us</a></li>
        <li><a href="#ratings">Ratings</a></li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Contact Us</h4>
      <ul class="footer__links">
        <li>
          <a href="callto:+918374604065">
            <span><i class="ri-phone-fill"></i></span>+91 8374604065
          </a>
        </li>
        <li>
          <a href="mailto:jangammadhavi3@gmail.com">
            <span><i class="ri-record-mail-line"></i></span>
            jangammadhavi3@gmail.com
          </a>
        </li>
        <li>
          <a href="https://maps.app.goo.gl/U9KpjkL423Y2Usbq9" target="_blank">
            <span><i class="ri-map-pin-2-fill"></i></span>BHEL MIG 502032, Hyderabad, India
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Rate Our Service</h4>
      <app-star-rating [(rating)]="productRating" [maxStars]="5" [readonly]="false" [size]="28">
      </app-star-rating>
      <br>
      <button class="cu_btn mt-2" (click)="submitRating()">Submit Rating</button>
    </div>
  </div>
</footer>
