<nav>
  <div class="nav__header">
    <div class="nav__logo">
      <a href="#" class="logo">Mala Jangam Community </a>
    </div>
    <div class="nav__menu__btn" id="menu-btn">
      <i class="ri-menu-line"></i>
    </div>
  </div>
  <ul class="nav__links" id="nav-links">
    <li><a href="#">HOME</a></li>
    <li><a href="#">ABOUT</a></li>
    <li><a href="#">WHY JOIN US</a></li>
    <li><a href="#">RATINGS</a></li>
    <li><a href="#">CONTACT</a></li>
    <li><a>Explore Members</a></li>
  </ul>
  <div class="nav__btns">
    <button class="cu_btn">Explore Members</button>
    <button class="cu_btn-secondary" style="margin-left: 15px;">Login</button>
  </div>
</nav>

<header id="home">
  <div class="header__container">
    <div class="header__content">
      <h2>Register Now and Become Part of the Mala Jangam Community.</h2>
    </div>
  </div>
</header>

<section class="vertical__section">
  <div class="d-flex">
    <div class="col-4 d-none d-lg-block">
      <div class="container">
        <div class="shadow__card">
          <span><i class="ri-camera-lens-line"></i></span>
          <h4>View Contacts</h4>
          <p>
            Access contact number and connect directly on call or via sms
          </p>
        </div>
        <div class="shadow__card">
          <span><i class="ri-ship-line"></i></span>
          <h4>View Email</h4>
          <p>
            Get the email id of your selected profile and reach via email
          </p>
        </div>
        <div class="shadow__card">
          <span><i class="ri-landscape-line"></i></span>
          <h4>Showcasing Community’s Strength</h4>
          <p>
            To highlight the unity, achievements, and cultural richness of the Mala Jangam community, strengthening
            pride
            and
            collective identity.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="container-fluid">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="shadow__form">

          <h3 class="mb-4">Registration Details</h3>

          <!-- Name -->
          <div class="row g-3 mb-3">
            <div class="col-md-4">
              <label class="form-label">
                First Name <span class="required">*</span>
              </label>
              <input type="text" class="form-control" formControlName="firstName">
              <div class="text-danger"
                *ngIf="registrationForm.get('firstName')?.touched && registrationForm.get('firstName')?.invalid">
                First Name is required
              </div>
            </div>

            <div class="col-md-4">
              <label class="form-label">Middle Name</label>
              <input type="text" class="form-control" formControlName="middleName">
            </div>

            <div class="col-md-4">
              <label class="form-label">
                Last Name <span class="required">*</span>
              </label>
              <input type="text" class="form-control" formControlName="lastName">
              <div class="text-danger"
                *ngIf="registrationForm.get('lastName')?.touched && registrationForm.get('lastName')?.invalid">
                Last Name is required
              </div>
            </div>
          </div>


          <!-- Gender, DOB, Age -->
          <div class="row g-3 mb-3">
            <div class="col-md-4">
              <label class="form-label">
                Gender <span class="required">*</span>
              </label>
              <select class="form-select" formControlName="gender">
                <option value="">Select</option>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
              </select>
              <div class="text-danger"
                *ngIf="registrationForm.get('gender')?.touched && registrationForm.get('gender')?.invalid">
                Gender is required
              </div>
            </div>

            <div class="col-md-4">
              <label class="form-label">
                Date of Birth <span class="required">*</span>
              </label>
              <input type="date" class="form-control" formControlName="dob" (change)="calculateAge()">
              <div class="text-danger"
                *ngIf="registrationForm.get('dob')?.touched && registrationForm.get('dob')?.invalid">
                Date of Birth is required
              </div>
            </div>

            <div class="col-md-4">
              <label class="form-label">Age</label>
              <input type="number" class="form-control" formControlName="age" readonly>
            </div>
          </div>


          <!-- Contact -->
          <div class="row g-3 mb-3">
            <div class="col-md-4">
              <label class="form-label">Marital Status</label>
              <select class="form-select" formControlName="maritalStatus">
                <option>Select</option>
                <option>Single</option>
                <option>Married</option>
                <option>Divorced</option>
                <option>Widowed</option>
              </select>
            </div>

            <div class="col-md-4">
              <label class="form-label">
                Mobile Number <span class="required">*</span>
              </label>
              <input type="tel" class="form-control" formControlName="mobile">
              <div class="text-danger"
                *ngIf="registrationForm.get('mobile')?.touched && registrationForm.get('mobile')?.invalid">
                Enter valid 10-digit mobile number
              </div>
            </div>

            <div class="col-md-4">
              <label class="form-label">Alternate Mobile</label>
              <input type="tel" class="form-control" formControlName="alternateMobile">
            </div>
          </div>


          <!-- Email & Aadhaar -->
          <div class="row g-3 mb-4">
            <div class="col-md-4">
              <label class="form-label">
                Email <span class="required">*</span>
              </label>
              <input type="email" class="form-control" formControlName="email">
              <div class="text-danger"
                *ngIf="registrationForm.get('email')?.touched && registrationForm.get('email')?.invalid">
                Enter a valid email
              </div>
            </div>

            <div class="col-md-4">
              <label class="form-label">Aadhaar Number</label>
              <input type="text" class="form-control" formControlName="aadhaar">
            </div>

            <div class="col-md-4">
              <label class="form-label">Sub-Caste / Gothram</label>
              <input type="text" class="form-control" formControlName="subCaste">
            </div>
          </div>


          <hr>

          <!-- Family Details -->
          <h4 class="mb-3">Family Details</h4>
          <div class="row g-3 mb-3">
            <div class="col-md-6">
              <label class="form-label">Father’s Name</label>
              <input type="text" class="form-control" formControlName="fatherName">
            </div>
            <div class="col-md-6">
              <label class="form-label">Father’s Occupation</label>
              <input type="text" class="form-control" formControlName="fatherOccupation">
            </div>
          </div>

          <div class="row g-3 mb-3">
            <div class="col-md-6">
              <label class="form-label">Mother’s Name</label>
              <input type="text" class="form-control" formControlName="motherName">
            </div>
            <div class="col-md-6">
              <label class="form-label">Mother’s Occupation</label>
              <input type="text" class="form-control" formControlName="motherOccupation">
            </div>
          </div>

          <hr>

          <!-- Address -->
          <h4 class="mb-3">Address Details</h4>
          <div class="row g-3 mb-3">
            <div class="col-md-4">
              <label class="form-label">House No</label>
              <input type="text" class="form-control" formControlName="houseNo">
            </div>
            <div class="col-md-4">
              <label class="form-label">Street</label>
              <input type="text" class="form-control" formControlName="street">
            </div>
            <div class="col-md-4">
              <label class="form-label">City</label>
              <input type="text" class="form-control" formControlName="city">
            </div>
          </div>
          <div class="row g-3 mb-3">
            <div class="col-md-4">
              <label class="form-label">Taluka</label>
              <input type="text" class="form-control" formControlName="taluka">
            </div>
            <div class="col-md-4">
              <label class="form-label">Mandal</label>
              <input type="text" class="form-control" formControlName="mandal">
            </div>
            <div class="col-md-4">
              <label class="form-label">Village</label>
              <input type="text" class="form-control" formControlName="village">
            </div>
          </div>
          <div class="row g-3 mb-3">
            <div class="col-md-6">
              <label class="form-label">Village Group</label>
              <select class="form-select" formControlName="villageGroup">
                <option>Group 1</option>
                <option>Group 2</option>
                <option>Group 3</option>
                <option>Other</option>
              </select>
            </div>
          </div>

          <hr>

          <!-- Education -->
          <h4 class="mb-3">Education Details</h4>
          <div class="row g-3 mb-4">
            <div class="col-md-6">
              <label class="form-label">Highest Qualification</label>
              <select class="form-select" formControlName="qualification">
                <option>SSC</option>
                <option>Intermediate</option>
                <option>Diploma</option>
                <option>Degree</option>
                <option>PG</option>
                <option>PhD</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="form-label">Course</label>
              <input type="text" class="form-control" formControlName="course">
            </div>
          </div>

          <div class="text-center">
            <button type="submit" class="cu_btn px-5">Submit</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</section>

<footer id="contact">
  <div class="section__container footer__container">
    <div class="footer__col">
      <div class="footer__logo">
        <a href="#" class="logo">Janagan Community Online</a>
      </div>
      <p>
        Connecting, Showcasing, and Strengthening the Mala Jangam Community
      </p>
      <ul class="footer__socials">
        <li>
          <a href="#!"><i class="ri-facebook-fill"></i></a>
        </li>
        <li>
          <a href="#!"><i class="ri-instagram-line"></i></a>
        </li>
        <li>
          <a href="#!"><i class="ri-youtube-line"></i></a>
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Quick Links</h4>
      <ul class="footer__links">

        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a style="cursor: pointer;">Join Us</a></li>
        <li><a href="#ratings">Ratings</a></li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Contact Us</h4>
      <ul class="footer__links">
        <li>
          <a href="#">
            <span><i class="ri-phone-fill"></i></span>+91 12345 67890
          </a>
        </li>
        <li>
          <a href="#">
            <span><i class="ri-record-mail-line"></i></span>
            info@Mala Jangamcommunity.com
          </a>
        </li>
        <li>
          <a href="#">
            <span><i class="ri-map-pin-2-fill"></i></span> Hyderabad, India
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Subscribe</h4>
      <form action="#!">
        <input type="text" placeholder="Enter your email" />
        <button class="cu_btn">Subscribe</button>
      </form>
    </div>
  </div>
</footer>
