<div class="confirmation-dialog">
  <div class="confirmation-dialog__icon">
    <div class="circle">
      @if (dialogData.dialogType == "Success") {
      <img src="../../../assets/verified.gif" alt="" srcset="">
      }
      @else if (dialogData.dialogType == "Error") {
    
      <img src="../../../assets/close.png" alt="" srcset="">
      }
      @else if (dialogData.dialogType == "Warning") {
      <img src="../../../assets/alarm.gif" alt="" srcset="">
      }
      @else {
      <img src="../../../assets/alarm.gif" alt="" srcset="">
      }
    </div>
  </div>
  <mat-dialog-content class="confirmation-dialog__content">
    <h3>{{ dialogData.title }}</h3>
    <p>{{ dialogData.message }}</p>
  </mat-dialog-content>
  <mat-dialog-actions class="confirmation-dialog__actions" align="end">
    @for (item of dialogData.buttons; track $index) { 
      <button
        type="button"
        [class.cu_btn]="$index === dialogData.buttons.length - 1"
        [class.cu_btn-secondary]="$index !== dialogData.buttons.length - 1"
        class="confirmation-dialog__button"
        (click)="dialogData.actions[$index](); closeDialog()"
      >
        {{ item }}
      </button>
    }
  </mat-dialog-actions>
</div>
